/*Navigation*/

/*1. header*/
/*2. gallery*/
/*3. manage*/
/*4. intelect*/
/*5. servicess*/

/*--fonts--*/
/*
--used fonts-family:
"Cent-BT",
"Cent-BT-Bold",
"Cent-BT-Bold_italic",
"Cent-BT-Roman",
"MinionPro-Regular",
"MuseoSansCyrl-700"
--font-size:
default: 16px;
-most used:
  14px - 0.875em
  16px - 1em
  18px - 1.125em
  20px - 1.25em
  22px - 1.375em
  24px - 1.5em
  28px - 1.75em
  32px - 2em
  35px - 2.188em
  36px - 2.250em
*/

*,
*::before,
*::after,
body,
body::before,
body::after {
	padding: 0;
	margin: 0;
	font-size: 16px;
	line-height: 1.2em;
	letter-spacing: 0.02em;
}

body {
	padding: 0;
	margin: 0;
	font-family: "Cent-BT-Roman", sans-serif;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ul,
li {
	display: block;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	font-family: "Cent-BT-Bold", sans-serif;
}

h1 {
	font-size: 3.75rem;
}

h2 {
	font-size: 2rem;
	color: #2e2e2e;
}

h3 {
	font-size: 1.875rem;
}

h4 {
	font-size: 1.5rem;
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 13px;
}

p {
	margin: 0;
	padding: 0;
	font-family: "Cent-BT-Roman", sans-serif;
}

a {
	display: block;
	color: #414141;
}

a,
a:hover,
a:active  {
	transition: all 0.6s ease;
	text-decoration: none;
}

input:focus,
input,
input:hover,
input:active,
button:focus,
button,
button:hover,
button:active {
	outline: none;
}

.container {
	max-width: 1434px;
	width: 100%;
	margin: 0 auto;
}

.d-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.btn:focus {
	box-shadow: none;
}

.btn {
	font-family: "Cent-BT-Bold", sans-serif;
	font-size: 1.125rem;
	color: #fff;
	background: #f28919;
	border: 1px solid #f28919;
	max-width: 334px;
	text-align: center;
}

.btn:hover {

}
.btn:active {
	box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.4);	
}


/*0. quiz*/

/*quiz start*/

.quiz__question {
	font-size: 1.5rem;
	text-transform: uppercase;
}

.quiz__form--form__subtitle {
	color: rgb(46, 46, 46);
	text-transform: uppercase;
}

.quiz__answers {
	margin-top: 80px;
	margin-bottom: 90px;
}

.quiz__answer,
.quiz__answer-input {
	display: block;
	/*text-align: left;*/
}

.quiz__answer {
	position: relative;
	text-align: left;
	padding-left: 30px;
	color: rgb(46, 46, 46);
	font-size: 1.25rem;
}

.quiz__answer:not(:last-child) {
	padding-bottom: 29px;
}

.quiz__answer-input {
	position: absolute;
	top: 10%;
	left: 0;
}

.quiz__button {
	padding: 18px 78px;
}

.quiz__buttom_prev {
	margin-right: 22px;
}

.quiz__form--form__label_hidden {
	visibility: hidden;
	position: absolute;
	overflow: hidden;
}

.quiz__form--form__subtitle {
	max-width: 460px;
	width: 100%;
	margin: 0 auto;
}

.quiz__form--form__input_hidden {
	left: 9999px;
	position: absolute;
}

.quiz__form--form__input {
	border: none;
	width: 74.5%;
	color: rgba(46, 46, 46, 0.502);
	padding: 9px 0;
	border-bottom: 1px solid rgba(46, 46, 46, 0.502);
	background: transparent;
}

.quiz__thanks--thanks__title {
	margin-bottom: 75px;
}

.quiz__thanks--thanks__subtitle {
	width: 100%;
	max-width: 290px;
	margin: 0 auto;
	color: rgb(46, 46, 46);
	font-size: 1.25rem;
}

.quiz__question-number {
	position: absolute;
	right: 80px;
	bottom: 32%;
	font-size: 4.875rem;
	font-family: "Cent-BT-Bold", sans-serif;
	color: rgba(46, 46, 46, 0.329);
}

/*quiz end*/

/*1. header*/

/*Header start*/

.header {
	padding-top: 42px;
	background: url(../img/header-bg.jpg) no-repeat center top;
	background-size: cover;
	box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.35);
}

.nav {
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	font-family: 'Cent-BT-Bold', sans-serif;
}

.header__logo {
	width: 91px;
	height: 45px;
	margin-right: 47px;
	margin-bottom: 20px;
	background: url(../img/logo.png) no-repeat center center;
	background-size: cover;
}

.menu {
	margin-right: auto;
	font-size: 1.125rem;
}

.menu__item {
	margin-right: 28px;
	font-size: 1.125rem;
	letter-spacing: 0.02rem;
}

.header__links {
	-ms-align-items: center;
	align-items: center;
	margin-top: 9px;
}

.header__callback {
	font-size: 1.125rem;
	width: 200px;
	height: 43px;
	line-height: 35px;
	margin-right: 35px;
	text-align: center;
	color: #f28919;
	border: 2px solid;
}

.header__phones {
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	margin-top: 15px;
}

.header__phone {
	color: #f28919;
	font-size: 1.375rem;
}

.header__works {
	text-transform: uppercase;
	color: #2e2e2e;
	font-size: 0.75em;
	letter-spacing: 0.1rem;
	margin-left: auto;
	margin-top: 14px;
}

.header__offer {
	color: #fff;
	max-width: 543px;
	background: url(../img/header-blur.png) no-repeat center center;
	background-size: cover;
	padding: 294px 55px 194px;
	margin: 44px 0 0 -55px;
}

.header__title {
	text-transform: uppercase;
}

.header__text {
	font-size: 1.9375rem;
	max-width: 410px;
	margin-top: 17px;
}

.header__btn {
	max-width: 267px;
	height: 61px;
	line-height: 58px;
	margin-top: 35px;
}

.mobile-menu {
	display: none;
}

/*Header End*/

/*2. gallery*/

/*gallery start*/

.gallery {
	position: relative;
	padding: 155px 0 0 0;
}

.gallery__title,
.gallery__description {
	text-align: center;
}

.gallery__description {
	margin-top: 28px;
	margin-bottom: 70px;
	font-size: 1.5rem;
}

/*.gallery__photos {}*/

/*large photo*/

.gallery__general-image {
	max-width: 1776px;
	width: 100%;
	max-height: 716px;
	height: 100%;
	position: relative;
	margin: 0 auto;
}

.gallery__general-image::before {
	content: '';
	position: absolute;
	top: 5.6%;
	left: 0;
	right: 0;
	bottom: 5.6%;
	background: url(../img/background.jpg) center center no-repeat;
	background-size: cover;
	z-index: 0;
}

.gallery__photo {
	display: block;
	max-width: 84.1%;
	width: 100%;
	height: auto;
	max-height: 716px;
	margin: 0 auto;
	position: relative;
	transition: .6s;
}

/*photo list*/

.gallery__photo-list {
	justify-content: center;
	max-width: 1434px;
	margin: 0 auto;
	position: relative;
	top: -30px;
}

.gallery__photo-item {
	margin: 8px;
	display: block;
	height: 119px;
	width: 194px;
	transition: 1s;
	cursor: pointer;
}

/*buttons*/

.gallery__button {
	position: absolute;
	display: block;
	top: 57%;
	z-index: 1;
	width: 51px;
	height: 21px;
	border: none;
	background: url(../img/icons-1.png) right top no-repeat;
	cursor: pointer;
}

.gallery__button_left {
	left: 4%;
}

.gallery__button_right {
	right: 4%;
	transform: rotate(180deg);
}

@keyframes fading-in{
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes fading-out{
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/*gallery end*/

/*3. manage*/

.manage {
	padding-top: 180px;
	background: url(../img/manage-bg.jpg) center bottom no-repeat;
	background-size: auto;
}

/*--get section--*/

/*timer*/

.manage__to-get {
	justify-content: space-between;
}

.manage__offer {
	flex-basis: 535px;
	padding-right: 45px;
}

.manage__title {
	position: relative;
}

.manage__title::before {
	content: '';
	position: absolute;
	bottom: -15px;
	left: 0;
	width: 95px;
	border-top: 1px solid rgb(0, 0, 0);
}

.manage__text {
	padding-top: 40px;
	padding-bottom: 65px;
	font-size: 1.75rem;
}

.manage__timer {
	color: #f28919;
	justify-content: space-between;
}

.timer__unit {
	position: relative;
	font-size: 3.875rem;
	font-family: "Cent-BT-Bold", sans-serif;
	flex-basis: 74px;
}

.timer__unit::before {
	position: absolute;
	content: '';
	left: 0;
	bottom: -2px;
	/*bottom: -16px;*/
	width: 30px;
	border-bottom: 1px solid rgb(0, 0, 0);
}

.timer__unit::after {
	position: absolute;
	content: 'ss';
	bottom: -10px;
	left: 45%;
	color: rgb(46, 46, 46);
	font-size: 1.125rem;
	font-family: "Cent-BT", sans-serif;
}

.timer__unit:first-child::after {
	content: 'Дня';
}

.timer__unit:nth-child(2)::after {
	content: 'Часа';
}

.timer__unit:nth-child(3)::after {
	content: 'Минут';
}

.timer__unit:last-child::after {
	content: 'Секунд';
}

/*form*/

.manage__form {
	flex-basis: 791px;
	padding-top: 175px;
}

.small-form {
	flex: 1 1 100%;
	justify-content: space-between;
	align-items: flex-end;
}

.small-form__input {
	padding: 5px 0;
	border: none;
	border-bottom: 1px solid rgb(0, 0, 0, 0.502);
  	opacity: 0.502;
  	flex-basis: 255px;
  	text-align: left;
  	font-family: "Cent-BT-Bold", sans-serif;
  	color: rgba(46, 46, 46, 0.502);
  	font-size: 1.125rem;
}

/*.small-form__input_name {}*/

/*.small-form__input_tel {}*/

.small-form__btn {
	padding: 16px 63px;
}

.manage__form-title {
	margin-bottom: 38px;
	font-size: 1.375rem;
}

/*--test section--*/

.manage__test {
	padding: 500px 245px 110px;
	max-width: 1006px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background: url(../img/manage-test-bg.png) center bottom no-repeat;
}

/*.test__title {}*/

.test__text {
	margin-top: 28px;
	margin-bottom: 40px;
	font-size: 1.5rem;
	color: rgb(46, 46, 46);
}

.test__number {
	display: block;
	font-family: "Cent-BT-Bold", sans-serif;
	color: #778596;
	font-size: 7.5rem;
}

.test__about {
	margin-top: 23px;
	margin-bottom: 35px;
	font-family: "Cent-BT-Bold", sans-serif;
	font-size: 1.125rem;
	color: rgba(46, 46, 46, 0.58);
}

.test__button {
	padding: 24px 75px;
}

/*#form*/

/*manage start*/
/*manage end*/

/*4. intelect*/

/*Intelect Start*/
.intelect {
	padding: 150px 0 155px;
}

.intelect__title {
	text-align: center;
}

.intelect__text {
	margin: 30px 0 80px;
	text-align: center;
	font-size: 1.5rem;
}

.intelect__cards {
	justify-content: space-between;
}

.intelect__card {
	width: 330px;
	height: 162px;
	position: relative;
	-ms-align-items: center;
	align-items: center;
}
.intelect__card::after {
	content: '';
	display: block;
	position: absolute;
	box-sizing: border-box;
	width: 194px;
	height: 162px;
	border: 10px solid #e6e6e6;
	left: 31px;
	top: 0;
	z-index: -1;
}

.intelect__card::before {
	content: '';
	display: block;
	width: 120px;
	height: 90px;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}

.intelect__card_move::before {
	
	background: url(../img/icons-1.png) no-repeat left -30px top;
}

.intelect__card_temp::before {
	background: url(../img/icons-1.png) no-repeat left -170px top;
}

.intelect__card_water::before {
	background: url(../img/icons-1.png) no-repeat left -290px top;
}

.intelect__card_windows::before {
	background: url(../img/icons-1.png) no-repeat left -430px top;
	width: 90px;
}

.intelect__card-info {
	padding-left: 145px;
	font-size: 1.375rem;
	font-family: 'Cent-BT-Bold', sans-serif;
}

/*Intelect End*/

/*5. servicess*/

/*Servicess start*/

.servicess {
	padding: 170px 0 155px;
	background: url(../img/servicess-bg.jpg) no-repeat center center;
	background-size: cover;
	color: #fff;
	text-align: center;
}

.servicess__title {
	color: #fff;
}

.servicess__subtitle {
	margin: 30px 0 80px;
	text-align: center;
	font-size: 1.5rem;
}

.servicess__cards {
	flex-wrap: wrap;
	margin: 0 auto;
}

.servicess__card {
	border: 1px solid rgba(255, 255, 255, 0.6);
	width: 20%;
	height: 290px;
	position: relative;
}

.servicess__card::before {
		content: '';
	display: block;
	position: absolute;
	background: rgba(255, 255, 255, 0);
	transition: all 0.8s ease;
}

.servicess__card:hover::before {
	width: 80%;
	height: 80%;
	left: 10%;
	top: 10%;
	background: rgba(255, 255, 255, 0.32);
}

.servicess__icon {
	display: block;
	width: 110px;
	height: 110px;
	margin: 40px auto 0;
	position: relative;
}

.servicess__icon::after {
	content: '';
	display: block;
	position: absolute;
	width: 1px;
	height: 20px;
	bottom: -10px;
	left: 50%;
	background: #fff;
}

.servicess__icon_book {
	background: url(../img/icons-1.png) no-repeat left -515px top 10px;
}

.servicess__icon_restaurant {
	background: url(../img/icons-1.png) no-repeat left -625px top;
}

.servicess__icon_parking {
	background: url(../img/icons-1.png) no-repeat left -720px top;
}

.servicess__icon_train {
	background: url(../img/icons-1.png) no-repeat left -820px top;
	width: 97px;
}

.servicess__icon_skate {
	background: url(../img/icons-1.png) no-repeat left -905px top 5px;
}

.servicess__icon_bike {
	background: url(../img/icons-1.png) no-repeat left -1003px top 15px;
}

.servicess__icon_kids {
	background: url(../img/icons-1.png) no-repeat left -1100px top;
}

.servicess__icon_park {
	background: url(../img/icons-1.png) no-repeat left -1214px top 5px;
}

.servicess__icon_road {
	background: url(../img/icons-1.png) no-repeat left -1340px top;
}

.servicess__icon_shops {
	background: url(../img/icons-1.png) no-repeat left -1485px top;
}

.servicess__text {
	font-size: 1.25rem;
	max-width: 60%;
	margin: 23px auto 0;
}
/*Servicess end*/

/*x. conditions*/

/*conditions start*/

.conditions {
	padding: 150px 0 155px;
	text-align: center;
}

.conditions__text {
	margin: 30px 0 80px;
	font-size: 1.5rem;
}

.conditions__cards {
	justify-content: space-between;
}

.conditions__card {
	max-width: 300px;
	min-height: 140px;
	-ms-align-items: center;
	align-items: center;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	letter-spacing: 0.06em;
}

.conditions__card-name {
	font-size: 1.875rem;
	font-family: 'Cent-BT-Bold', sans-serif;
}

.conditions__card-name::after {
	content: '';
	display: block;
	margin: 20px auto 17px;
	width: 78px;
	height: 2px;
	background: #f79472;
	opacity: 0.51;
}

.conditions__card-text {
	max-width: 80%;
}

.conditions__btn {
	font-family: 'Cent-BT-Bold_italic', sans-serif;
	letter-spacing: 0.06em;
	color: #f46d3f;
	cursor: pointer;
	margin-top: 15px;
}

/*conditions end*/

/*excursion*/
/*get-demo start*/

.get-demo {
	background: url(../img/get-demo-bg.jpg) center center no-repeat;
	background-size: cover;
	opacity: 0.961;
	box-shadow: 0px 0px 76px 0px rgba(0, 0, 0, 0.2);
}

.get-demo__content {
	width: 100%;
	max-width: 800px;
	padding: 350px 200px 96px 70px;
	background: url(../img/manage-test-bg.png) center bottom no-repeat;
}

.get-demo__title {
	position: relative;
}

.get-demo__title::before {
	content: '';
	position: absolute;
	bottom: -15px;
	left: 0;
	width: 95px;
	border-top: 1px solid rgb(0, 0, 0);
}

.get-demo__text {
	margin-top: 37px;
	margin-bottom: 47px;
	font-size: 1.75rem;
	color: rgb(46, 46, 46);
}

.get-demo__button {
	padding: 22px 38px;
}

/*get-demo end*/

/*layout-option*/
/*layout-option start*/

.layout-option {
	padding-top: 150px;
	/*background: #fcfcfc;*/
	text-align: center;
}

/*.layout-option__title {}*/

.layout-option__subtitle {
	margin-top: 28px;
	margin-bottom: 85px;
	color: rgb(46, 46, 46);
	font-size: 1.5rem;
}

/*.layout-option__flats-preview {}*/

.flats-preview__list {
	padding: 0 22px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.06);
	flex-basis: 1136px;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 65px;
	position: relative;
}

.flats-preview__item {
	padding: 20px 8px;
	font-family: "Cent-BT-Bold", sans-serif;
	color: rgb(46, 46, 46);
	font-size: 1.25rem;
	cursor: pointer;
}

.flats-preview__checked {
	border-top: 4px solid rgb(242, 137, 25);
	border-bottom: 4px solid rgb(242, 137, 25);
}

.flats-preview__list,
.flats-preview__item,
.flats-preview__checked {
	/*transition: .5s;*/
}

/*cards*/

/*.flats-preview__flat-cards {}*/

.flat-cards__card {
	padding: 45px 30px 60px 30px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 46px 0px rgba(0, 0, 1, 0.09);
}

.flat-cards__card:not(:last-child) {
	margin-right: 18px;
}

.flat-cards__image {
	display: block;
	max-width: 297px;
	width: 100%;
	height: 100%;
	max-height: 247px;
	margin-bottom: 55px;
}

.flat-cards__title {
	font-size: 1.5rem;
	font-family: "Cent-BT-Bold", sans-serif;
	color: rgb(46, 46, 46);
	text-transform: uppercase;
}

.flat-cards__info {
	margin-top: 30px;	
	margin-bottom: 36px;
	font-size: 1.5rem;
	color: rgb(46, 46, 46);
}

.flat-cards__form,
.flat-cards__get-number {
	display: block;
	width: 100%;
}

.flat-cards__form {
	padding: 0 22px;
}

.flat-cards__get-number {
	padding: 3px 0;
	border: none;
	border-bottom: 1px solid rgb(46, 46, 46, 0.502);
	font-family: "Cent-BT-Bold", sans-serif;
	color: rgba(46, 46, 46, 0.502);
	font-size: 1.120rem;
}

/*.flat-cards__get-number {}*/

.flat-cards__button {
	margin-top: 27px;
	padding: 16px 36px;
	cursor: pointer;
}

/*layout-option end*/

/*Excursion*/

/*excursion start*/

.excursion {
	padding-top: 150px;
	background: url(../img/excursion-bg.jpg) center 400px no-repeat;
	background-size: auto;
}

/*--get section--*/

/*timer*/

.excursion__to-get {
	justify-content: space-between;
	align-items: flex-end;
}

.excursion__offer {
	flex-basis: 535px;
	padding-right: 45px;
}

.excursion__title {
	position: relative;
}

.excursion__title::before {
	content: '';
	position: absolute;
	bottom: -15px;
	left: 0;
	width: 95px;
	border-top: 1px solid rgb(0, 0, 0);
}

.excursion__text {
	padding-top: 40px;
	padding-bottom: 0;
	font-size: 1.125rem;
}

/*form*/

.excursion__form {
	flex-basis: 791px;
	padding-top: 175px;
}

.small-form {
	flex: 1 1 100%;
	justify-content: space-between;
	align-items: flex-end;
}

.small-form__input {
	padding: 5px 0;
	border: none;
	border-bottom: 1px solid rgb(0, 0, 0, 0.502);
  	opacity: 0.502;
  	flex-basis: 255px;
  	text-align: left;
  	font-family: "Cent-BT-Bold", sans-serif;
  	color: rgba(46, 46, 46, 0.502);
  	font-size: 1.125rem;
}

/*.small-form__input_name {}*/

/*.small-form__input_tel {}*/

.small-form__btn {
	padding: 17px 20px;
}

.excursion__form-title {
	margin-bottom: 38px;
	font-size: 1.375rem;
}

/*--test section--*/

.excursion__test {
	padding: 500px 245px 110px;
	max-width: 1006px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background: url(../img/manage-test-bg.png) center bottom no-repeat;
}

/*.test__title {}*/

.test__text {
	margin-top: 28px;
	margin-bottom: 40px;
	font-size: 1.5rem;
	color: rgb(46, 46, 46);
}

.test__number {
	display: block;
	font-family: "Cent-BT-Bold", sans-serif;
	color: rgb(46, 46, 46);
	font-size: 7.5rem;
}

.test__about {
	margin-top: 23px;
	margin-bottom: 35px;
	font-family: "Cent-BT-Bold", sans-serif;
	font-size: 1.125rem;
	color: #676f73;
}

.test__button {
	padding: 24px 75px;
}

/*#form*/

/*excursion end*/